.frm{
    display: block;
    text-align: center;
    margin-left: 45%;
    margin-right: 50%;
    margin-bottom: 50vh;
    height: 10vh;
    width: 20vw;
    align-items:center;
}

.inpt1{
    width: 19vw;
    height: 3.55vh;
    padding: 4px;
    border-radius: 8px;
}
.inpt2{
    margin-top: 10px;
    width: 19vw;
    height: 3.55vh;
    padding: 4px;
    border-radius: 8px;
}
.ggle{
    height: 3vh;
    position: relative;
    top: .6vh;
    padding: auto;
    cursor: pointer;
}
.form-submit-button {
    background: #bc0139;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    margin-top: 8vh;
    height: 5vh;
    width: 10vw;
}

.form-submit-button:hover {
	background: #044172;
    cursor: pointer;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}
.cpt{
    height: 4vh;
    width: 7vw;
}
.wcpt1{
    display: block-inline;
    border: 1px solid black;
    padding: auto;
    padding-bottom: 5px;
    width: 5vw;
    height: 3vh;
    position: relative;
    float: left;
    margin-left: 25px;
}
.wcpt2{
    float: right;
}
.cptdiv{
    padding: auto;
}